:root {
  --yellow: #ffc600;
  --black: #272727;
}

html {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 900;
  font-size: 12px;
  color: var(--black);
  text-shadow: 0 2px 0 rgba(0, 0, 0, 0.07);
}

body {
  background-image: url("topography.svg"), linear-gradient(110deg, #f93d66, #6d47d9);
  background-size: 340px, auto;
  min-height: calc(100vh - 8rem);
  margin: 4rem;
  background-attachment: fixed;
  letter-spacing: -1px;
}

h1,
h2,
h3,
h4,
h5,
h6, 
.item p {
  margin: 0 0 6px 0;
}

.item {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid rgba(0, 0, 0, 0.03);
  border-radius: 3px;
  font-size: 32px;
  background-color: var(--yellow);
}

.container{
  display: grid;
  grid-template-columns: repeat(5, 1fr 2fr);
  grid-template-rows: repeat(10, 50px); 
}
.item1 {
  grid-column: 3/5;
}

.item2 {
grid-column: 5 / -1;
}

.item3 {
  grid-column: 1/2;
  grid-row: 2/3;
}
.item4 {
  grid-column: 2/3;
  grid-row: 2/3;
}
.item5 {
  grid-column: 3 / span 2;
  grid-row: 2 / span 2;
}
.item6 {
  grid-column: 5 / 6;
  grid-row: 2/3;
}

.item7 {
  grid-column: 6/7;
  grid-row: 2/3;
}
.item8 {
  grid-column: 7/8;
  grid-row:  2/ span 2;
}
.item9 {
  grid-column: 9/10;
  grid-row: 2/3;
}

.item10 {
  grid-column: 10/11;
  grid-row: 2/3;
}

.item11 {
  grid-column: 1/2;
  grid-row: 3/4;
}
.item12 {
  grid-column: 2/3;
  grid-row: 3/4;
}
.item13 {
  grid-column: 5/6;
  grid-row: 3/4;
}
.item14 {
  grid-column: 6/7;
  grid-row: 3/4;
}
.item15 {
  grid-column: 1 / -1;
  grid-row: 7/8;
}

.item16 {
  grid-column: 1/2;
  grid-row: 8/9;
}
.item17 {
  grid-column: 2/3;
  grid-row: 8/9;
}
.item18 {
  grid-column: span 4/9;
  grid-row: 8/9;
}
.item19 {
  grid-column: 9/10;
  grid-row: 8/9;
}
.item20 {
  grid-column: 1/2;
  grid-row: 4/ span 3;
}
.item21 {
  grid-column: 10/11;
  grid-row: 8/9;
}
.item22 {
  grid-column: 1/2;
  grid-row: 9/10;
}
.item23 {
  grid-column: 2/3;
  grid-row: 9/10;
}
.item24 {
  grid-column: 3/4;
  grid-row: 9/10;
}
.item25 {
  grid-column: 4/5;
  grid-row: 9/10;
}
.item26 {
  grid-column: 5/6;
  grid-row: 9/10;
}
.item27 {
  grid-column: 6/7;
  grid-row: 9/10;
}
.item28 {
  grid-column: 7/8;
  grid-row: 9/10;
}
.item29 {
  grid-column: 8/9;
  grid-row: 9/10;
}
.item30 {
  grid-column: 9/10;
  grid-row: 9/10;
}